web:
    port: 8888
    host: 'localhost'
    cookie_secret: 'you should probably change this'
	debug: True

db:
    host: localhost
    user: eveskill
    port: 5432
    password: eveskill
    database: eveskill

redis:
	host: localhost
	port: 6379
	db: 0
