<ul class="uk-subnav uk-subnav-pill" data-character="{{id}}">
	<li class="uk-active"><a id="tab_skills">skills</a></li>
	<li><a id="tab_plans">plans</a></li>
	<li><a id="tab_alerts">alerts</a></li>
</ul>