html {
	overflow-y: scroll;
	height: 100%;
	margin:0;
	padding:0;
}

#footer {
	position: absolute;
	bottom: 0;
	text-align: center;
	padding: 10px 0 10px 0;
	color: #999;
	width: 100%;
	font-size: smaller;
	background-color: #F5F5F5;
	border-top: 1px solid rgba(0, 0, 0, 0.06);
}

#wrapper {
	min-height:100%;
	position:relative;
}

.uk-navbar-brand {
	color: #00a8e6;
}

.brand {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #00a8e6;
}

.uk-active a {
	font-weight: bold;
}

#footer a {
	color: #777;
}

.success {
	color: #842107;
	font-weight: bold;
}

.error {
	color: #842107;
	font-weight: bold;
}

.phony {
	cursor: pointer;
}

#frame {
	padding: 10px;
	padding-bottom:30px;
}

table.skills {
	line-height: 15px;
}

small {
	color: #999;
}

/* Skill list touchup */
table.skills thead tr {
	font-size: larger;
	background-color: rgba(196, 196, 196, 0.32);
}

table.skills td {
	position: relative;
}

table.skills td:hover .tooltip-wrap {
	display: block;
}

table.uk-table-condensed td {
	font-size: smaller;
	padding: 4px 4px;
}

.right {
	text-align: right;
}

tr.training {
	background-color: rgba(0, 168, 230, 0.20); 
}

/* Character info block */
.uk-description-list-horizontal > dt {
	width: 100px;
}

.uk-description-list-horizontal > dd {
	margin-left: 100px;
}

dl {
	margin-top: 0;
}

/* Skill queue block */
#skillqueue {
	padding-bottom: 10px;
}
#current-train td {
	padding-right: 10px;
}

#queue td {
	background-color: #5EA2E6;
	position: relative;
}

#queue td:hover .tooltip {
	display: block;
}

#queue td:first-child {
	background-color: #3399FF;
	position: relative;
}

#queue td:nth-child(even) {
	background-color: #A7D2FD;
	position: relative;
}

.tooltip {
	display: none;
	position: absolute;
	top: 25px;
	line-height: 1.5em;
	padding: 8px 10px;
	background-color: #fafafa;
	border: 1px solid rgba(0, 0, 0, 0.06);
	color: #333;
	z-index: 1;
	pointer-events: none;
	min-width: 150px;
	max-width: 500px;
	white-space: nowrap
}

.tooltip-wrap {
	display: none;
	position: absolute;
	top: 25px;
	line-height: 1.5em;
	padding: 8px 10px;
	background-color: #f5f5f5;
	border: 1px solid rgba(0, 0, 0, 0.06);
	color: #333;
	z-index: 1;
	pointer-events: none;
	min-width: 150px;
	max-width: 500px;
}