#footer {
	clear: both;
	position: fixed;
	bottom: 0;
	text-align: center;
	color: #999;
	width: 100%;
	padding: 3px;
	font-size: smaller;
	background-color: #F5F5F5;
	border: 1px solid rgba(0, 0, 0, 0.06);
}

.uk-navbar-brand {
	color: #00a8e6;
}

.brand {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #00a8e6;
}

#footer a {
	color: #777;
}

.error {
	color: #842107;
}

#frame {
	padding-top: 20px;
}

small {
	color: #999;
}

