{% extends "base.html" %}

{% block main %}
	<div class="uk-container-center uk-width-medium-1-2 uk-width-large-1-4" style="padding-top: 100px">
		<h1 class="brand">skillbook</h1>
		<p>The next-generation tool for skill monitoring &amp; planning in EVE Online<p>
		<ul class="uk-subnav uk-subnav-line" data-uk-switcher="{connect:'#tab-content'}">
		    <li class="uk-active login"><a>login</a></li>
		    <li class='register'><a>register</a></li>
		</ul>
		<ul id="tab-content" class="uk-switcher uk-margin">
			<li class="login">
				{% if login_error %}<div class="uk-alert uk-alert-danger">{{ login_error }}</div>{% end %}
				<form action="/login" method="POST" class="uk-form">
					<fieldset>
						<small>This isn't (or shouldn't be) the same as your EVE username and password</small>
						<div class="uk-form-row">
							<input type="text" name="username" id="login_username" placeholder="username"></input>
						</div>
						<div class="uk-form-row">
							<input type="password" id="login_password" name="password" placeholder="password"></input>
						</div>
						<div class="uk-form-row">
							<input type="submit" value="login" class="uk-button uk-button-primary"></input>
						</div>
						{% module xsrf_form_html() %}
					</fieldset>
				</form>
			</li>
	
			<li class="register">
				{% if register_error %}<div class="uk-alert uk-alert-danger">{{ register_error }}</div>{% end %}
				<form action="/register" method="POST" class="uk-form">
					<fieldset>
						<small>Even though passwords are encrypted, please refrain
							from using your EVE Online password</small>
						<div class="uk-form-row">
							<input type="text" name="username" id="reg_username" placeholder="username"></input>
						</div>
						<div class="uk-form-row">
							<input type="password" name= "password" placeholder="password"></input>
						</div>
						<div class="uk-form-row">
							<input type="password" name= "password_rep" placeholder="password again"></input>
						</div>
						<div class="uk-form-row">
							<input type="submit" value="register" class="uk-button uk-button-primary"></input>
						</div>
						{% module xsrf_form_html() %}
					</fieldset>
				</form>
			</li>
		</ul>

	</div>
{% end %}
{% block js %}
<script type="text/javascript" src="/static/js/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function () {
	var path = document.location.pathname,
		loginSelector = $('.login'),
		registerSelector = $('.register');

	if(path.indexOf('login') != -1) {
		registerSelector.removeClass('uk-active');
		loginSelector.addClass('uk-active');
	}
	if(path.indexOf('register') != -1) {
		loginSelector.removeClass('uk-active');
		registerSelector.addClass('uk-active');
	}
});
</script>
{% end %}

