{% extends 'base.html' %}
{% block js %}
	<script src="/static/js/bower_components/jquery/dist/jquery.js"></script>
    <script src="/static/js/bower_components/es5-shim/es5-shim.js"></script>
    <script src="/static/js/bower_components/es5-shim/es5-sham.js"></script>
    <script data-main="/static/js/page/plans_boot.js" src="/static/js/bower_components/requirejs/require.js"></script>
{% end %}
{% block main %}
	<div id="frame" class="uk-container-center uk-width-1-1 uk-width-large-1-2 uk-width-medium-1-1">
		<h2 id="pagetitle">Plans</h2>
		<div id="plan_list"></div>
		<div id="plan_entries"></div>
	</div>
{% end %}
