{% extends 'base.html' %}

{% block main %}
	<div id="frame" class="uk-container-center uk-width-1-2">
		<h2>Account Settings</h2>
		<div class="uk-grid">
			<div class="uk-width-medium-1-2">
				<div class="uk-panel uk-panel-box">
					<h3 class="uk-panel-title">Preferences &amp; Stuff</h3>
					{% if mail %}<div class="uk-alert uk-alert-success">{{ mail }}</div>{% end %}
					{% if mail_error %}<div class="uk-alert uk-alert-danger">{{ mail_error }}</div>{% end %}
					<form class="uk-form" method="POST" action="/settings">
					<fieldset>
						<div class="uk-form-row">
							<input type="email" name="email" placeholder="mail" 
								value="{{prefs.email}}" class="uk-width-2-3"/>
							<small>
								{% if prefs.valid_email %}
									<i class="fa fa-check uk-text-success"></i> confirmed
								{% else %}
									<a class="phony" id="confirmation">click to confirm</a>
								{% end %}
							</small>
						</div>
						<div class="uk-form-row">
							<label>
								<input type="checkbox" name="newsletter" {% if prefs.newsletter %}checked{% end %}/> 
								Send me a periodic newsletter (not actually a thing yet)
							</label>
						</div>
						{% if prefs.unsubscribed %}
							<div class="uk-form-row">
								<label>
									<input type="checkbox" name="resubscribe"/> Un-unsubscribe from all emails
								</label>
							</div>
						{% end %}
						<div class="uk-form-row">
							<input type="hidden" name="email-form" value="1" />
							<input class="uk-button uk-button-primary" type="submit" value="update"></input>
						</div>
						{% module xsrf_form_html() %}
					</fieldset>
					</form>
				</div>
			</div>
			<div class="uk-width-medium-1-2">
				<div class="uk-panel uk-panel-box">
					<h3>Password Management</h3>
					{% if password %}<div class="uk-alert uk-alert-success">{{ password }}</div>{% end %}
					{% if password_error %}<div class="uk-alert uk-alert-danger">{{ password_error }}</div>{% end %}
					<form class="uk-form" method="POST" action="/settings">
					<fieldset>
						<div class="uk-form-row">
							<input type="password" name="current_password" placeholder="current password" class="uk-width-2-3"/>
						</div>
						<div class="uk-form-row">
							<input type="password" name="password" placeholder="new password" class="uk-width-2-3"/>
						</div>
						<div class="uk-form-row">
							<input type="password" name="password_dup" placeholder="new password again" class="uk-width-2-3"/>
						</div>
						<div class="uk-form-row">
							<input type="hidden" name="password-form" value="1" />
							<input class="uk-button uk-button-primary" type="submit" value="change"></input>
						</div>
						{% module xsrf_form_html() %}
					</fieldset>
					</form>
				</div>
			</div>
			<div class="uk-width-1-1" id="character_list"></div>
		</div>
	</div>
{% end %}
{% block js %}
	<script src="/static/js/bower_components/jquery/dist/jquery.js"></script>
	<script src="/static/js/bower_components/es5-shim/es5-shim.js"></script>
	<script src="/static/js/bower_components/es5-shim/es5-sham.js"></script>
	<script data-main="/static/js/page/settings_boot.js" 
	src="/static/js/bower_components/requirejs/require.js"></script>
	<script type="text/javascript">
		function getCookie(name) {
			var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
			return r ? r[1] : undefined;
		}
		$('#confirmation').on('click', function(){
			var that = $(this);
			if(that.data('sent')){
				return;
			}
			
			$.ajax({
				type: 'POST',
				headers: {'X-Xsrftoken': getCookie('_xsrf')},
				url: '/mail/confirm',
				success: function() {
					that.html('<i class="fa fa-envelope"></i> mail sent');
					that.data('sent', true);
				}
			});
		});
	</script>
{% end %}
