{% extends 'base.html' %}
{% block js %}
	<script src="/static/js/bower_components/jquery/dist/jquery.js"></script>
    <script src="/static/js/bower_components/es5-shim/es5-shim.js"></script>
    <script src="/static/js/bower_components/es5-shim/es5-sham.js"></script>
    <script data-main="/static/js/boot.js" src="/static/js/bower_components/requirejs/require.js"></script>
{% end %}
{% block main %}
	<div id="frame" class="uk-container-center uk-width-1-1 uk-width-large-1-2 uk-width-medium-1-1">
		<h2 id="pagetitle">Characters</h2>
		<div class="uk-grid" id="character_list"></div>
		<div id="character_list"></div>
		<div id="character_detail"></div>
		<div id="character_queue"></div>
		<div id="character_skills"></div>
	</div>
{% end %}
