<!DOCTYPE html>
<html>
	<head>
        <title>skillbook</title>
        <link rel="icon" type="image/png" href="/static/img/favicon.png">
        <script src="//ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools.js"></script>
        {% block js %}{% end %}
        {% block css %}{% end %}
	</head>

	<body style="margin: 0; background-color: #ddd; font-family: Arial, Helvetica, sans-serif">
		{% block main %}{% end %}
		<div id="body">
			<div id="frame" style="width: 50%; display: block; margin: auto">
				<div id="sidebar" style="width: 128px; display: block; position: fixed; height: 100%;">
					<img src="http://image.eveonline.com/Character/93862238_128.jpg" />
					<h4>Skills</h4>
					<h4>Plans</h4>
					<h4>Transactions</h4>
					<div style="height: 100px"></div>logout
				</div>
				<div id="heading" style="margin-left: 128px; height: 128px; background-color: #333">
					<div style="padding: 5px;"> 
						<h3>pilotName</h3>
					</div>
				</div>
				<div id="content" style="margin-left: 140px; height: 100%; background-color #fff">
					<h3> stuff goes here </h3>
					<p> more stuff </p>
				</div>

			</div>
		</div>

	</body>
</html>
