{{#groups}}
<table class="uk-table uk-table-striped uk-table-condensed skills" style="padding-bottom: 10px">
    <thead>
        <tr style='cursor: pointer'>
            <th style='width: 40%'>{{name}}</th><th style='width: 40%'><small>{{count}} skills &mdash; {{commas skillpoints}} points</small></th><th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {{#skills}}
        {{> skill_partial}}
        {{/skills}}
    </tbody>
</table>
{{/groups}}
