<ul class="uk-subnav uk-subnav-pill" data-plan="{{id}}">
	<li class="uk-active"><a id="tab-entries">entries</a></li>
	<li><a id="tab-skills">skill browser</a></li>
	<li><a id="tab-items">item browser</a></li>
</ul>